/* common */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix{
    content: '';
    display: table;
    clear: both;
}

body{
    font-family: 'Roboto', sans-serif;
}

.container{
    margin: 20px auto;
    width: 1170px;
    
}

.prodotto{
    width: calc( 100% / 3);
    padding: 20px 10px;
    float: left;
    transition: 1s;
    
}

.anteprima{
    position: relative;
    width: 100%;
}

.prodotto > .anteprima > img{
    width: 100%;
}

.aside{
    display: block;
    transition: 1s;
}

.bside{
    display: none;
    transition: 1s;
}

.heart{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    font-size: 30px;
    line-height: 40px;
    background-color: white;
    text-align: center;
}

.sale{
    background-color: red;
    text-align: center;
    width: 40px;
    line-height: 25px;
    font-size: 15px;
    position: absolute;
    bottom: 15px;
    left: 0;
    color: white;
}

.sost{
    background-color: #3f8259;
    text-transform:capitalize;
    text-align: center;
    width: 100px;
    line-height: 25px;
    font-size: 15px;
    position: absolute;
    bottom: 15px;
    left: 50px;
    color: white;
}

.only{
    left: 10px;
}

.prodotto:hover .heart{
    color: tomato;
}

.anteprima:hover{
    cursor: pointer;
}

.prodotto:hover {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.prodotto:hover .aside{
    display: none;
    transition: 1s;
}

.prodotto:hover .bside{
    display: block;
    transition: 1s;
}

.prodotto .prod-name{
    padding-top: 10px;
    font-weight: 500;
    font-size: 30px;
}

.prodotto .prod-desc{
    padding-top: 10px;
    font-weight: 300;
    font-size: 20px;
}

.prezzo{
    margin: 15px 0;
}

.scontato{
    color: tomato;
}
/* debug */

 /* .debug .container{
    background-color: #c5c5c5;
}  */

