/* common */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

body{
    font-family: 'Roboto', sans-serif;
}

/* main */

.container{
    margin: 20px auto;
    width: 1170px;
    
}

.prodotto{
    width: calc( 100% / 3);
    padding: 20px 10px;
    float: left;
    transition: 0.4s;
}

.anteprima{
    position: relative;
    width: 100%;
}

.prodotto > .anteprima > img{
    width: 100%;
}

.aside{
    display: block;
    transition: 0.2s;
}

.bside{
    display: none;
    transition: 0.2s;
}

.heart{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    font-size: 30px;
    line-height: 40px;
    background-color: white;
    text-align: center;
}

.sale{
    background-color: red;
    text-align: center;
    width: 40px;
    line-height: 25px;
    font-size: 15px;
    position: absolute;
    bottom: 15px;
    left: 0;
    color: white;
    transition: bottom 0.2s ;
}

.sost{
    background-color: #3f8259;
    text-transform:capitalize;
    text-align: center;
    width: 100px;
    line-height: 25px;
    font-size: 15px;
    position: absolute;
    bottom: 15px;
    left: 50px;
    color: white;
    transition: bottom 0.2s ;
}

.only{
    left: 10px;
}

/* animazione cuore */

.prodotto:hover .heart{
    color: tomato;
}

/* cambio cursore */

.anteprima:hover{
    cursor: pointer;
}

/* ombra box */

.prodotto:hover {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* cambio immagini */

.prodotto:hover .aside{
    display: none;
    transition: 0.2s;
}

.prodotto:hover .bside{
    display: block;
    transition: 0.2s;
}

/* fine cambio immagini */

/* prodotto */

.info{
    z-index: 200;
    background-color:white;
    position: relative;
}

.prodotto .prod-name{
    padding-top: 10px;
    font-weight: 500;
    font-size: 30px;
    text-transform: capitalize;
}

.prodotto .prod-desc{
    padding-top: 10px;
    font-weight: 300;
    font-size: 18px;
}

/* etichette */

.prezzo{
    margin: 15px 0;
}

.scontato{
    color: tomato;
}


/* bonus */

.prodotto:hover .sale {
    bottom: 110px;
}

.prodotto:hover .sost {
    bottom: 110px;
}

.size{
    width: 100%;
    height: 0px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.7);
    transition: 0.2s ;
    z-index: 0;
}

.prodotto:hover .size {
    display: block;
    height: 100px;
    line-height: 100px;
}



.size span{
    height: 0;
    display: none;
    z-index: 0;
}

.size span a{
    text-decoration: none;
    color: black;
}

.prodotto:hover .size span {
    display: block;
    float: left;
    width: calc(100% / 4 - 15px);
    border: 1px solid gray;
    height: 70px;
    text-align: center;
    line-height: 70px;
    margin: 15px 7px;
    text-transform: uppercase;
    transition: 0.2s linear;
}



.size span:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
}

.size span:hover a{
    color: white;
}